﻿body {
	    background:#f4f4f4 url("../images/bg4XL.jpg") repeat-x 50% top;
	    font-family:Verdana, Arial, Helvetica, sans-serif;
	    font-size:100%;
	    color:#333333;	
	    margin-bottom:5px;
	    padding:0px;
	    margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    

}

img {
	border:0px
}
p {
	line-height:1.4;
	margin:0 0 0.5em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	color:#084886;
	padding:0px;
	margin:0px;
}
h1 {
	font-size:120%;
    margin-top:20px;
	letter-spacing:0.1em;
	text-align:left;
	margin-bottom:0px;
   /* width: 222px;*/
    height: 23px;
}

h2 {
    font-size: 120%;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 5px;
    width: 256px;
    height: 23px;
}

#top {
	background:transparent;
	height:133px;
    width: 1900px;
}

#top-image {
	float:left;
	width:143px;
	height:59px;
	padding:4px 10px 0px 10px;
	
   
}

#top-inner 
{
	float:left;
    width:781px;
	height:15px;
    text-align:right;
    color:#ff0000;
	font-size:11px;
	font-weight:bold;
	padding:10px 10px 0px 10px;

}

body#konmap #container #top #top-inner 
{
	float:left;
    width:563px;
    text-align:left;
    color:#084886;
	font-size:11px;
	height:20px;
	font-weight:bold;
	padding:0px 10px 0px 10px;
    margin-left: 630px;
   
   
}
#top-inner-top
{
	float:left;
    width:994px;
    text-align:left;
    color:#ff0000;
	font-size:11px;
	height:20px;
	padding:10px 10px 30px 10px;
    
   
}

#container {
	width:1900px;	
	margin:0px auto;
	text-align:left;	
}

#content-outer {
	background:#ffffff;
	border:1px solid #e5e5e5;
	border-top:0px;
	width:1900px;
   
}
#content-inner {
	background:transparent;
	padding:0px 15px 15px 15px;
}
#copy {
	color:#999;
	font-size:11px;
	text-align:left;
	margin-top:15px;
}
/* Hovedmeny */
#nav-menu ul
{
	list-style: none;
	padding: 1px;
	margin: 0;
	float:left;
    
}

#nav-menu li
{
	float: left;
	margin: 0 0.15em;
   
   
}

#nav-menu li a,
#nav-menu li.active a,
#nav-menu li a:hover
{
	background: #f5f5f5 url("../Images/bg-active.gif") repeat-x left bottom;
	line-height: 2em;
	display: block;
	border: 0.1em solid #ccc;
	border-bottom:none;
	color: #0d4e96;
	text-decoration: none;
	text-align: center;
	padding:4px 10px 4px 10px;
	font-weight:bold;
        
}
#nav-menu li a:hover {
    background: #f5f5f5 url("../Images/bg-hover.gif") repeat-x left bottom;
}
#nav-menu li.active a
{	
	border-color:#490099;
    background: #ffffff url("../Images/bg.gif") repeat-x left bottom;
    color: #490099 ;
    
}

#nav-menu
{
	float:left;
	width:100%;
    
} 
/* Bygg meny */
#bygg-menu ul
{
	list-style: none;
	padding: 0;
	margin: 400;
	float:left;
    
}

#bygg-menu li
{
	float: left;
	margin: 0 0.15em;
   
   
}

#bygg-menu li a,
#bygg-menu li.active a,
#bygg-menu li a:hover
{
	background: #f5f5f5 url("../Images/bg-active.gif") repeat-x left bottom;
	line-height: 2em;
	display: block;
	border: 0.1em solid #ccc;
	border-bottom:none;
	color: #8888ff;
	text-decoration: none;
	text-align: center;
	padding:4px 10px 4px 10px;
	font-weight:bold;
        
}
#bygg-menu li a:hover {
    background: #f5f5f5 url("../Images/bg-hover.gif") repeat-x left bottom;
}
#bygg-menu li.active a
{	
	border-color:#490099;
    background: #ffffff url("../Images/bg.gif") repeat-x left bottom;
    color: #490099 ;
    
}

#bygg-menu
{
	float:left;
	width:100%;
    
} 
/* Ferdig Bygg meny */
ul {
	list-style:square;
}

li,
li.active {
	color:#000000;
	margin-bottom:3px
}

li.active {
	color:#005E71;
	margin-left:15px
}


a:link    {text-decoration:none; color:#084886; background-color:transparent;
    text-align: left;
}
a:visited {text-decoration:none; color:#084886; background-color:transparent}
a:hover   {text-decoration:none; color:#999999; background-color:transparent}
a:active  {text-decoration:none; color:#000000; background-color:transparent}

#top-inner a:hover {color:#ffffff}
#top-inner-top a:hover {color:#084886}


a.activeLink {text-decoration:none; color:#ffffff; background-color:transparent}


legend
{
	font-weight:bold;
	color:#666666;
	margin:5px
}
	
fieldset.module { 
	border:1px solid #cccccc;
	padding:10px;
	color:#666666;
}

fieldset.module legend {
  padding: 0.2em 0.5em;
  color:#999999;
  font-size:100%;
  text-align:left;
  font-weight:bold
}
.textbox-small {
	width:80px;
	background:#ffffff;
	margin:0px 4px;
}
.textbox-large {
	width:300px;
	background:#ffffff;
	margin:0px 5px;
}
.dropdown {
	background:#ffffff;
	margin:0px 5px;
}
.button {margin:0px 5px;}
.labelFrom { margin-left:5px }
.labelTo { margin:0px 5px 0px 20px }

#gradesSearch {
	background:#F9F9F9;float:left;
	width:100%;
	padding:15px 0px;
}
#filterSearch {
	background:#F9F9F9;float:left;
	width:68%;
	height:45px;
	padding:15px 0px 0px 1%;
}
body#konmap #filterSearch 
{
	background:#F9F9F9;float:left;
	width:98%;
	height:45px;
	padding:15px 1% 0px 1%;    
}
#excelExport {
    text-align:right;
    width:30%;
    height:60px;
    float:left;
    padding:0px 1% 0px 0px;
    background:#F9F9F9;
}
.excelExport {margin-top:25px;}
#latitude {
	float:left;width:47%;margin-right:2%;margin-left:1%
}
#longitude {
	float:left;width:47%;margin-left:2%;margin-right:1%
}
#iconLegend {
	margin-top:15px;font-size:90%;color:#666666;
}

.exception {color:#CC0000;font-weight:bold}
/* Std table */
.EAMTable
{
    background-color:#dddddd;
	width:100%;
	font-size:100%;
	clear:both
}
.EAMAltRow
{
    background-color:#FFFFFF;
    color:#333333;
	border-collapse:collapse;
	border:none;
}
.EAMRow
{
    background-color:#f9f9f9;
    color:#333333;
	border-collapse:collapse;
	border:none;
}
.EAMSelectedRow
{
    background-color:#FFCCCC;
    color:#333333;
}
.EAMHeader {
    background-color: #185da7;
    color: #ffffff;
    text-align: left;
    margin-top: 6px;
}
.EAMHeader a {text-decoration:none; color:#ffffff; background-color:transparent}

/* KonMap */

.feedback-success {color:#666666;font-family:"Courier New", Courier, monospace;}
.feedback-error {color:#cc0000;font-weight:bold}

#KonMapUpload 
{
    width:59%;
    float:left;
    height:50px;
    margin-right:1%;
    color:#666666;    
}
#KonMapDownload 
{
    width:39%;
    height:50px;
    float:left;
    margin-left:1%;
    color:#666666;    
}
/* PopUp */
    .modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=90);
        opacity: 0.8;
    }
.modalPopup {
    /* background-color: #FFFFFF; */
    background-color: #FFFFCC;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 6px;
    padding-left: 15px;
    width: 845px;
    height: 570px;
    z-index: 99;
}

/* Brukes på popup for lokasjoner på utstyr*/
.modalPopupBlaa {
    /* background-color: #FFFFFF; */
    background-color:aquamarine !important;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-top: 6px;
    padding-left: 15px;
    width: 845px;
    height: 570px;
    z-index: 99;
}

.modalPopupKartlegging {
    /* background-color: #FFFFFF; */
    background-color: #FFFFCC;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 1322px;
    height: 725px;
}


.modalPopupRevisjoner {
    /* background-color: #FFFFFF; */
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 6px;
    padding-left: 5px;
    width: 850px;
    height: 710px;
}

.modalPopupHendelser1 {

    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 6px;
    padding-left: 5px;
    width: 1020px;
    height: 890px;
    align-content:start;
}

.modalPopupByggverk {
    /* background-color: #FFFFFF; */
    background-color: wheat;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 6px;
    padding-left: 5px;
    width: 380px;
    height: 200px;
}
.modalBackgroundBygg {
    background-color: Black;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.innrykk15 {
    padding-left: 16px;
}

.innrykk0 {
    padding-left: 0px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    opacity: 0.8;
    filter: alpha(opacity=80);
    min-height: 100%;
    width: 100%;
    z-index: 99998;
}

.modalLocation {
    background-color: cornflowerblue !important;
    border-width: 1px;
    border-style: solid;
    opacity: 1.0;
    filter: alpha(opacity=80);
    position: fixed;
    z-index: 10002 !important;
}

.loading
{
    width: 220px;
    display: none;
    position: fixed;
    z-index: 99999;
}

.workorder
{
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 998;
}

